version: '3.8'

services:
  tychra:
    image: vikstoykov/tychra:latest
    container_name: tychra-bot
    restart: unless-stopped
    env_file:
      - .env
    deploy:
      resources:
        limits:
          cpus: '0.5'
          memory: 512M
        reservations:
          cpus: '0.1'
          memory: 128M
